/*
PALETAS DE COLORES
desde cualquier scss lo que se hara será usar --color-primary, --color-secondary, etc, y entonces
escogerá la variable según la clase que tenga asignada. Siempre usará root, pero si se cambia la clase
usará alguna de las otras
*/
//variante de tema por defecto

//la basica será la paleta Indigo. Sacado de los colores usados en figma
:root {
    --color-text-primary: #000000; //color para texto estandar
    --color-text-secondary: #8540F5;
    --color-text-alt: #D63384;
    --color-links: #8e58e7; //color para el texto que sea un enlace
    --color-h1: #290661; //color para titulos
    --color-h2: #520DC2;
    --color-h3: #6610F2;
    //IMPORTANTE: los colores de fondo y color basico(usados con color y background-color) no son heredables.
    //por lo tanto, todos los .scss que hereden de common NO usaran el color de fondo
    //hay que re-definirlo. los colores de letras sin embargo SI lo son
    --color-foreground: #F3F3FF; //color que se usa para background pero que no es el principal (quedaría por encima de background)
    --color-background: #FFFFFF; //color para background

    --font-family: Arial, sans-serif;

}

//paletas de ejemplo. sin trabajar especialmente
.theme-smooth {
    --color-text-primary: #2C2C2C;
    --color-text-secondary: #5A5A89;
    --color-text-alt: #A67C8C;
    --color-links: #6C63FF;
    --color-h1: #333366;
    --color-h2: #4C4C99;
    --color-h3: #6666CC;
    --color-foreground: #FAFAFC;
    --color-background: #FFFFFF;
    --font-family: Arial, sans-serif;
}

.theme-dark {
    --color-text-primary: #E0E0E0;
    --color-text-secondary: #BB86FC;
    --color-text-alt: #F48FB1;
    --color-links: #A48CFF;
    --color-h1: #D0BCFF;
    --color-h2: #B69DF8;
    --color-h3: #9E79EE;
    --color-background: #121212;
    --color-foreground: #2A2A2E;
    --font-family: Arial, sans-serif;

}

.theme-vibrant {
    --color-text-primary: #1C1C1C;
    --color-text-secondary: #FF6F61;
    --color-text-alt: #FFB400;
    --color-links: #1E90FF;
    --color-h1: #FF3B3F;
    --color-h2: #FF6F61;
    --color-h3: #FFB400;
    --color-foreground: #FFF0E0;
    --color-background: #FFFFFF;
    --font-family: Arial, sans-serif;


}