@use '../common' as *;

.user-profile {
  background-color: var(--color-background);
  color: var(--color-text-primary);

  .user-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: 10px;

    .user-header-handle {
      display: flex;
      align-items: center;
      gap: 1.5rem
    }

    .user-header-stats {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin-right: 30px;
    }

    
  }
  .user-bio {
    white-space: pre-line;
  }



}