@use '../common' as *;

.game-header {
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  display: flex;
  align-items: center;

  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
  }

  .header-content {
    position: relative;
    z-index: 1;
    color: white;

    * {
      background-color: transparent !important;
      box-shadow: none !important;
    }

    h1 {
      font-size: 2.5rem;
    }

    .platform-logo {
      width: 24px;
      height: 24px;
      object-fit: contain;
      border-radius: 6px;
      padding: 2px;
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(4px);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    }

    .game-cover {
      max-width: 160px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    }

    .release-date {
      font-size: 1.1rem;
      font-style: italic;
      margin-bottom: 0;
      white-space: nowrap;
      color: white; 
    }

    .genre-container {
      margin-top: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    .genre-badge {
      background-color: var(--color-text-secondary);
      color: white;
      padding: 4px 8px;
      border-radius: 12px;
      font-size: 0.85rem;
      display: inline-block;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease, color 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: var(--color-h2);
        color: white;
        filter: drop-shadow(0 0 3px var(--color-text-secondary));
      }

    }

    @media (max-width: 768px) {
      flex-direction: column;
      color: white; // volver a blanco en móvil para fondo oscuro

      .game-cover {
        margin-top: 1rem;
        max-width: 120px;
      }
    }
  }
}