/* estilos para secciones de la pagina que se pueden reutilizar en otras (por necesitar los mismos botones) */

.ShowGameDetails {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.UpdateGameInfo {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}
