/*Common.css. In development. Incluira todos los estilos comunes, como los h1,h2, botones, a, colores de fondo, etc.
Se compartiran en toda la pagina. Se colocaran aqui por limpieza y coherencia.*/

html, body {
    min-height: 100vh; /*da todo el tamaño de la ventana como minimo*/
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif; /*Tipo de letra predeterminado*/
}

