/*Common.scss. In development. Incluira todos los estilos comunes, como los h1,h2, botones, a, colores de fondo, etc.
Se compartiran en toda la pagina. Se colocaran aqui por limpieza y coherencia.*/
@use './core/bootstrap.scss';
@use './core/palettes.scss';

html,
body {
  min-height: 100vh;
  /*da todo el tamaño de la ventana como minimo*/
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-family);
  color: var(--color-text-primary); //no heredará
  background-color: var(--color-foreground); //no heredará
}

h1 {
  color: var(--color-h1);
}

h2 {
  color: var(--color-h2);
}

h3 {
  color: var(--color-h3);
}

//estas por ahora usaran el color de texto normal. habrá que ir añadiendo
//segun vayamos usando otros tipos
li,
p,
span,
blockquote {
  color: var(--color-text-primary);
}

//para los enlaces dentro de estas listas de manera predeterminada
a {
  text-decoration: none;
  color: var(--color-links);
  transition: text-decoration 0.2s ease, color 0.2s ease;

  &:hover {
    text-decoration: underline;
  }
}



small {
  @extend .text-muted;
  // color: var(--color-text-alt);
}

// /* .......................................Seccion de la navegacion */
// /* cheatseet: los breadcrumbs de bootstrap sirven para dejar bonita la info de navegacion */

.nav-section {
  nav {
    --bs-breadcrumb-divider: ">"; // Personalización del separador de breadcrumb
  }

  // Aplicamos las clases de Bootstrap directamente a los elementos internos
  ol {
    @extend .breadcrumb; // Extiende la clase breadcrumb de Bootstrap
  }

  li {
    margin: 0px;
    @extend .breadcrumb-item; // Extiende la clase breadcrumb-item de Bootstrap

    &:hover {
      font-weight: normal;
    }

    a {
      &:hover {
        font-weight: bold;
      }
    }
  }
}

//cheatsheet: esto son las tabs de bootstrap. Ver: componets-navs & tabs - tabs
//usan javascript para cambiar entre tabs
//mas cosas que añadir por ejemplo: <a>, usar disabled y tabindex=-1 para desactivar 
.tabs-container {

  //usamos ul para definir el grupo de tabs y cada li es una tab
  ul {
    @extend .nav;
    @extend .nav-tabs;

    //elemento horizontal del grupo de tabs
    li {
      @extend .nav-item;

      a {
        @extend .nav-link;
      }

      button {
        @extend .nav-link;
      }
    }
  }
}

.tabs-content {
  @extend .tab-content;

  .gsdbtab {
    @extend .tab-pane;
    @extend .fade;
  }
}


//para crear mas botones, ver documentacion del cheatsheet de bootstrap sobre botones. Hay mas tipos de colores
.gsdb-btn-default {
  @extend .btn;
  @extend .btn-primary;
}


.horizontal-scroll {
  @extend .container;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  gap: 1rem;
  padding-bottom: 1rem;
}