@use './Common' as *;
/* Layout.scss. Es el css que incluye los estilos generales para las partes fijas de la web (laterales, fijos, inferiores)*/


/* estilo principal para hacer un grid con cada seccion */

.layout {
    display: grid;
    /*  */
    grid-template-areas:
        "navbar         navbar      navbar"
        "left-sidebar main-content right-sidebar"
        "bottom-bar     bottom-bar     bottom-bar";
    grid-template-columns: 1fr 6fr 1fr;
    /* Tres columnas */
    grid-template-rows: auto 1fr auto;
    /* Fila superior (navbar), contenido, y fila inferior (bottom-bar) */
    min-height: 100vh;
    /* Asegura que la página cubra toda la ventana */
    background-color: var(--color-background);
    color: var(--color-text-primary);

    /* listas sin puntitos y ajuste de margenes*/
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin: 0 15px;
    }
}

/* Barra de navegacion (zona superior) */
.navbar {
    grid-area: navbar;
    background-color: var(--color-foreground);
    padding: 0 40px; // margen lateral
    border-bottom: 2px solid #ccc;
    width: 100%; // fuerza ancho de pantalla completa
    box-sizing: border-box;

    .nav-content {

        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin: 0 auto; // centra el contenido completo dentro de navbar   
        width: 100%;

        .left,
        .center,
        .right {
            display: flex;
            align-items: center;
        }

        .left {
            margin-left: 30px;
        }

        .center {
            // position: absolute;
            // left: 50%;
            // transform: translateX(-50%);
            display: flex;
            align-items: center;
            overflow: visible !important;
            z-index: 1100;
            max-width: 700px;
            width: 100%;

            .input-group {
                width: 100%;
                gap: 0.5rem;
            }

            .rbt-input-main {
                flex-grow: 1;
                min-width: 0;
                /* para evitar overflow */
            }

            .btn {
                flex-shrink: 0;
            }
        }

        .rbt-menu {
            position: absolute !important;
            z-index: 1150 !important;
            width: 100% !important;
            max-height: 300px;
            overflow-y: auto;
            background-color: var(--color-foreground);
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .right {
            gap: 15px;
            margin-right: 30px;

            a,
            button {
                text-decoration: none;
                background: none;
                border: none;
                color: var(--color-links);
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/* Zona izquierda */
.left-sidebar {
    grid-area: left-sidebar;
    background-color: var(--color-foreground);
    border-right: 1px solid #ccc;
    padding: 10px;

    ul {
        list-style: none;
        padding: 0px;
    }
}

/* Zona central (contenedor principal) */
.main-content {
    grid-area: main-content;
    padding: 20px;
}

/* Zona derecha */
.right-sidebar {
    grid-area: right-sidebar;
    background-color: var(--color-foreground);
    padding: 5px;
    border-left: 1px solid #ccc;
}

/* Barra inferior */
.bottom-bar {
    grid-area: bottom-bar;
    //background-color: var(--color-foreground);
    color: #555;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #ccc;
    font-size: 0.9rem;
}


.blocking-overlay-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.4); // solo un ligero gris
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}


/* RESPONSIVE DESIGN: Lo mismo, pero para diferentes tamaños de ventana. */

/* Pantallas medianas (tablets) */
/*esta un poco fea, la comento por ahora*/
/* @media (max-width: 1024px)

/* Pantallas pequeñas (móviles) 
TO DO: Ajustar esto un poco mejor!!*/
@media (max-width: 768px) {
    .layout {
        grid-template-areas:
            "navbar"
            "main-content"
            "bottom-bar";
        grid-template-columns: 1fr;
        /* Una sola columna */
    }

    .left-sidebar,
    .right-sidebar {
        display: none;
        /* Oculta los sidebars */
    }

    .navbar ul {
        flex-direction: column;
        /* Coloca los elementos de navegación verticalmente */
        text-align: center;
    }

    .navbar ul li {
        margin: 5px 0;
        /* Ajusta el espaciado vertical */
    }
}