/* ShowSaveDetails.scss 
Estilos para esta pagina. Tiene dos secciones principales: la de la info del save, y debajo un grid con comentarios e imagenes.
*/
@use './common' as *;

/* Estilo general del contenedor */
.container {
  margin-top: 20px;
  padding: 20px;
}

/*........................................ Sección de información */
/* tiene que haber menos espacio para la imagen y mas espacio para el resto de info */
.data-section {
  margin-bottom: 30px;
  // background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .table-data{
    padding: 1%;
    // background-color: #f9f9f9;
    //la parte de texto centrado, muted etc la añado en el jsx porque crear mas clases para eso me parece innecesario
    .row {
      display: flex;
      padding: 5px;
      // align-items: center;
      .row-element {
        @extend .col-md-4;
      }
    }
  
    /* Imagen del juego */
    img {
      max-width: 200px;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }  
}




/* .......................................Sección de comentarios y screenshots */
.info-section {
  margin-bottom: 30px;
  padding: 1%;
  // background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .comment {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    :last-child {
      border-bottom: none;
    }
    
    p {
      font-size: 1rem;
      // color: #555;
    }
    
    // strong {
    //   color: #6c63ff;
    // }
  }


  .screenshot{
    width: 200px;
    height: 200px;
    overflow: hidden; /* Asegura que la imagen no se desborde */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, filter 0.3s; /* Transición para el efecto hover */
    padding: 5px;
    /* Imagen dentro de screenshot */
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Asegura que la imagen cubra el contenedor sin deformarse */
    }

    &:hover {
      transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen */
      filter: brightness(1.2); /* Ilumina la imagen al pasar el ratón */
      cursor: pointer;
    }
  }
}
