@use '../common' as *;

.card-container {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    text-decoration: none;
    display: block;
    width: 200px;
    height: auto;
    margin: 10px;
}

.card {
    height: 100%;
    border: none;
    display: flex;
    flex-direction: column; // Permite que el contenido se distribuya verticalmente
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    overflow: hidden;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }

    .card-img-top {
        width: 100%;
        height: 55%;
        object-fit: cover;
    }

    .card-body {
        flex: 1;
        padding: 12px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    .card-title {
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-text {
        font-size: 0.85rem;
        color: #666;
        margin: 8px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        display: box; // definición estándar (fallback)
        -webkit-box-orient: vertical;
        box-orient: vertical; // definición estándar (fallback)
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }


    .card-platform,
    .card-rating {
        font-size: 0.75rem;
        // color: #333;
        margin-bottom: 4px;
    }

    .card-username {
        font-size: 0.75rem;
        // color: #007bff;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}