@use '../common' as *;
// Contenedor para que Dropdown.Menu se posicione respecto a este
.filter-select-container {
  position: relative; 
  min-width: 220px;
}

// El dropdown menu debe ser absolute y con alto z-index
.filter-select-menu {
  max-height: 250px;
  overflow-y: auto;
  padding: 0.5rem;
  z-index: 2000 !important;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
